<!DOCTYPE html>
<html>
  <head>
    <title>WpSandbox</title>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <li>
      <%= link_to 'webpack', root_path %>
      <%= link_to 'angular', angular_path %>
      <%= link_to 'react', react_path %>
    </li>
    <%= yield %>
  </body>
</html>
